.App {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

hr {
  width: 82%;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  /* padding-left: 10%;
  padding-right: 10%; */
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 88px;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 34px;
  white-space: normal;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cards {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 8%;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 4vw;
}

.frame {
  width: 75%;
  height: 700px;
}

.projectBody {
  padding-top: 5%;
  padding-bottom: 6%;
}

.coverArt {
  padding: 5% 10% 3% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.musicLogo {
  padding: 3%;
  height: 72px;
  width: auto;
}

.homeLayout {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding: 3%;
  padding-bottom: 15%;
}

.expLayout {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding-bottom: 10%;
  row-gap: 2vw;
}

.expLeft {
  text-align: right;
  padding-right: 5%;
  border-right: 2px solid black;
}

.expRight {
  text-align: left;
  padding-left: 5%;
  border-left: 2px solid black;
}

button {
  padding: 6px;
  margin-right: 24px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.other {
  padding: 0px 0px 0px 10px;
}

@media (max-width: 660px) {
  h1 {font-size: 45px;}
  h2 {font-size: 16px;}
  h3 {font-size: 16px;}
  .text-top {font-size: 11px;}
  iframe {width: 90%;}

  .cards {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 35% 35% 35%;
    grid-row-gap: 3vw;
  }

  h3 {
    padding-left: 5%;
    padding-right: 5%;
  }
}