.card {
    border: 2px solid black;
    width: 13vw;
    height: 13vw;
    box-shadow: 0.5vw 0.5vw 1vw #9E9E9E;
    padding: 2vw 2vw 1vw 2vw;
    font-size: 1vw;
    border-radius: 10%;
}

.card:hover {
    box-shadow: 5px 5px 2vw #9E9E9E;
    cursor: pointer;
}

.card:active {
    box-shadow: 5px 5px 1vw #9E9E9E;
}

img {
    height: 10vw;
}

.homeCard {
    font-size: 2vw;
}

@media (max-width: 600px) {
    .card {
        width: 78px;
        height: 78px;
        padding: 2vw 2vw 1vw 2vw;
        font-size: 6px;
    }

    img {
        height: 60px;
    }
    
    .homeCard {
        font-size: 12px;
    }
}